__pycache__/
.idea/

dataset/whales_from_space/*
!dataset/whales_from_space/.

dataset/create_dataset/nadir/*
dataset/create_dataset/offnadir/*
dataset/create_dataset/sunglint/*

dataset/worldmaps/*
!dataset/worldmaps/land_mask.npy

offnadir_imaging/images/*
!offnadir_imaging/images/.gitkeep

offnadir_imaging/pySMARTS/*
!offnadir_imaging/pySMARTS/.gitkeep

PASEOS/*
!PASEOS/paseos/custom_paseos/
!PASEOS/.gitkeep

test*

0_results/*
!0_results/.gitkeep

0_resources/*

installation_notes.txt

to_do.txt
offnadir_imaging/spd_files/wv3_spd_output

output.log
sim_output.xlsx
simulation.mp4

dataset/create_dataset/patch_raw/*
dataset/create_dataset/nadir_raw/*
dataset/create_dataset/offnadir_raw/*
dataset/create_dataset/nadir_sunglint/*
dataset/create_dataset/offnadir_sunglint/*
dataset/create_dataset/_meta/*
dataset/create_dataset/dataset_overview.xlsx


offnadir_imaging/create_DEM/input_img_WV.PNG
offnadir_imaging/create_DEM/input_dem_WV.tiff
offnadir_imaging/create_DEM/dem_mesh_WV.obj
offnadir_imaging/create_DEM/input_dem_PATCH.tiff
offnadir_imaging/create_DEM/dem_mesh_PATCH.obj
