__pycache__/
.idea/

dataset/whales_from_space/*
!dataset/whales_from_space/.gitkeep

offnadir_imaging/images/*
!offnadir_imaging/images/.gitkeep

offnadir_imaging/pySMARTS/*
!offnadir_imaging/pySMARTS/.gitkeep

PASEOS/*
!PASEOS/.gitkeep

installation_notes.txt




