__pycache__/
.idea/

dataset/whales_from_space/*
!dataset/whales_from_space/.

dataset/create_dataset/nadir/*
dataset/create_dataset/offnadir/*
dataset/create_dataset/sunglint/*

dataset/worldmaps/*
!dataset/worldmaps/land_mask.npy

offnadir_imaging/images/*
\offnadir_imaging/images_range/*
!offnadir_imaging/images/.gitkeep

offnadir_imaging/pySMARTS/*
!offnadir_imaging/pySMARTS/.gitkeep

PASEOS/*
!PASEOS/paseos/custom_paseos/
!PASEOS/.gitkeep

test*

0_results/*
!0_results/.gitkeep

0_resources/*

installation_notes.txt

to_do.txt
offnadir_imaging/spd_files/wv3_spd_output

output.log
sim_output.xlsx
simulation.mp4

dataset/create_dataset/dataset_test/*
dataset/create_dataset/patch_*
dataset/create_dataset/radiance_*
dataset/create_dataset/reflection_*
dataset/create_dataset/texture_*
dataset/create_dataset/_meta/*
dataset/create_dataset/0_whales/*
dataset/create_dataset/0_ocean/*
dataset/create_dataset/0_merged/*
dataset/create_dataset/dataset_overview.xlsx


offnadir_imaging/create_DEM/input_img_WV.PNG
offnadir_imaging/create_DEM/input_dem_WV.tiff
offnadir_imaging/create_DEM/dem_mesh_WV.obj
offnadir_imaging/create_DEM/input_dem_PATCH.tiff
offnadir_imaging/create_DEM/dem_mesh_PATCH.obj
offnadir_imaging/spd_files/solar_direct_normal.spd
offnadir_imaging/spd_files/sky_diffuse_radiance.spd
offnadir_imaging/spd_files_new/*
notes.txt

/dataset/phisat-2_data/dataset/*
/dataset/phisat-2_data/rgb_outputs/*


onboard_ai/RESULTS/*



# --------------------------------------------------
# Ignore full DEIM repository
# --------------------------------------------------
onboard_ai/DEIMv2-main/*
!onboard_ai/DEIMv2-main/engine/
onboard_ai/DEIMv2-main/engine/*
!onboard_ai/DEIMv2-main/tools/
onboard_ai/DEIMv2-main/tools/*

!onboard_ai/DEIMv2-main/tools/coco_eval_predictions.py
!onboard_ai/DEIMv2-main/tools/dump_predictions_all.py
!onboard_ai/DEIMv2-main/tools/eval_one_deimv2.py
!onboard_ai/DEIMv2-main/tools/eval_utils.py
!onboard_ai/DEIMv2-main/tools/evaluate_models.py
!onboard_ai/DEIMv2-main/tools/extra_detection_metrics.py
!onboard_ai/DEIMv2-main/tools/train_crossval_deimv2.py
!onboard_ai/DEIMv2-main/tools/train_final.py
!onboard_ai/DEIMv2-main/tools/train_utils.py
!onboard_ai/DEIMv2-main/tools/visualize_result.py
!onboard_ai/DEIMv2-main/tools/main
!onboard_ai/DEIMv2-main/tools/main_local

!onboard_ai/DEIMv2-main/engine/solver/det_solver.py
!onboard_ai/DEIMv2-main/engine/solver/det_solver.py
onboard_ai/figures/deimv2_coco_AP_vs_GFLOPs.png
onboard_ai/figures/deimv2_coco_AP_vs_Params.png



output_images/*
/rgb_outputs
dataset/phisat-2_data/Auckland_SRW_QB2_PS_20060812_B32_002794_O_nadir.PNG
/rgb_outputs
/img_diff
onboard_ai/masterscripts/generated_configs.txt
/dataset/create_dataset/generated_dataset/_meta
/dataset/create_dataset/generated_dataset
/dataset/create_dataset/0_results/FINAL_RESULTS
