absl-py @ file:///C:/b/abs_14wchyjaia/croot/absl-py_1714140489450/work
accelerate==1.8.1
affine @ file:///Users/ktietz/demo/mc3/conda-bld/affine_1629890479180/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1739175731979/work
aiohttp @ file:///D:/bld/aiohttp_1740481456133/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
anyio @ file:///C:/b/abs_31grv7a7bl/croot/anyio_1729121290992/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/b/abs_f11axiliot/croot/argon2-cffi-bindings_1736182463870/work
astropy @ file:///C:/b/abs_5egnt0gyqe/croot/astropy_1726174619184/work
astropy-iers-data @ file:///C:/b/abs_fact33de2d/croot/astropy-iers-data_1737137602781/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
babel @ file:///C:/b/abs_ffzt1bmjth/croot/babel_1737454394148/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
bleach @ file:///C:/b/abs_925i9psm3u/croot/bleach_1732292896852/work
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1734344358292/work
branca @ file:///C:/b/abs_5fic0q0ykh/croot/branca_1675157632359/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools @ file:///C:/b/abs_fcvwpc5vh9/croot/cachetools_1738224687938/work
calflops==0.3.2
Cartopy @ file:///C:/b/abs_f8dlnh0i8c/croot/cartopy_1706196154446/work
certifi @ file:///C:/b/abs_2bz30lzohz/croot/certifi_1754570654565/work/certifi
cffi @ file:///C:/b/abs_29_b57if3f/croot/cffi_1736184144340/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
click-plugins @ file:///Users/ktietz/demo/mc3/conda-bld/click-plugins_1630665883852/work
cligj==0.7.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colour==0.1.5
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
comtypes @ file:///C:/b/abs_1coomkk_86/croot/comtypes_1678829787230/work
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1734596167382/work
contourpy @ file:///D:/bld/contourpy_1731428338157/work
cryptography @ file:///C:/b/abs_e2lzchf4i6/croot/cryptography_1732130411942/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy @ file:///C:/b/abs_bf9oo2vhxp/croot/debugpy_1736269476451/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dotmap @ file:///home/conda/feedstock_root/build_artifacts/dotmap_1734862420093/work
drjit==1.0.5
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1740501473663/work
ee-extra @ file:///home/conda/feedstock_root/build_artifacts/ee_extra_1674469223555/work
eerepr @ file:///home/conda/feedstock_root/build_artifacts/eerepr_1740005411905/work
et_xmlfile==2.0.0
exceptiongroup @ file:///C:/b/abs_c5h1o1_b5b/croot/exceptiongroup_1706031441653/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
faster-coco-eval==1.6.7
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
ffmpeg-python @ file:///home/conda/feedstock_root/build_artifacts/ffmpeg-python_1735317926808/work
filelock @ file:///C:/b/abs_f2gie28u58/croot/filelock_1700591233643/work
folium @ file:///C:/b/abs_da1gvm65eq/croot/folium_1675353720461/work
fonttools @ file:///D:/bld/fonttools_1738940292136/work
frozenlist @ file:///D:/bld/frozenlist_1737645282131/work
fsspec==2025.5.1
future @ file:///C:/b/abs_bfx7g4al1k/croot/future_1730902814365/work
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1734276819611/work
geeadd @ file:///home/conda/feedstock_root/build_artifacts/geeadd_1662343341358/work
geemap @ file:///home/conda/feedstock_root/build_artifacts/geemap_1740613979293/work
geocoder @ file:///home/conda/feedstock_root/build_artifacts/geocoder_1734684552374/work
geographiclib @ file:///C:/b/abs_fcjnb06gth/croot/geographiclib_1683807328255/work
geojson @ file:///home/conda/feedstock_root/build_artifacts/geojson_1734884856640/work
geopandas @ file:///C:/b/abs_15f9xgmed2/croot/geopandas-split_1741361079487/work
geopy @ file:///C:/b/abs_dbx91s4r8x/croot/geopy_1718112186059/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
google-api-core @ file:///C:/b/abs_10ij5agyxh/croot/google-api-core-split_1722026812083/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1740527276126/work
google-auth @ file:///C:/b/abs_8bwi6ivsbg/croot/google-auth_1738226813423/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1733907410727/work
google-cloud-core @ file:///C:/b/abs_e8_rg8sal_/croot/google-cloud-core_1666887737629/work
google-cloud-storage @ file:///C:/b/abs_cbjeaumyuh/croot/google-cloud-storage_1722029095311/work
google-crc32c @ file:///C:/b/abs_d2qach1xl7/croot/google-crc32c_1736366677592/work
google-resumable-media @ file:///C:/b/abs_1849nyw2gn/croot/google-resumable-media_1722025798271/work
googleapis-common-protos @ file:///C:/b/abs_f1lgpb_u6_/croot/googleapis-common-protos-feedstock_1722026798834/work
grpcio @ file:///C:/b/abs_7d9olmtnd2/croot/grpc-split_1716834609196/work
h11 @ file:///C:/b/abs_1czwoyexjf/croot/h11_1706652332846/work
httpcore @ file:///C:/b/abs_55n7g233bw/croot/httpcore_1706728507241/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1733927481809/work
httpx @ file:///C:/b/abs_43e135shby/croot/httpx_1723474830126/work
huggingface-hub==0.33.1
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipyevents @ file:///home/conda/feedstock_root/build_artifacts/ipyevents_1734305085589/work
ipyfilechooser @ file:///home/conda/feedstock_root/build_artifacts/ipyfilechooser_1631745918830/work
ipykernel @ file:///C:/b/abs_6c9ggygp01/croot/ipykernel_1737660720620/work
ipyleaflet @ file:///C:/b/abs_2enmieg81x/croot/ipyleaflet_1701104615427/work
ipython @ file:///C:/b/abs_8eyhzleyrk/croot/ipython_1734548134403/work
ipytree @ file:///home/conda/feedstock_root/build_artifacts/ipytree_1734505728227/work
ipywidgets @ file:///C:/b/abs_f03en2fv37/croot/ipywidgets_1733504604628/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_10zs3i4lof/croot/jinja2_1737760123028/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
jplephem @ file:///home/conda/feedstock_root/build_artifacts/jplephem_1734349820189/work
json5 @ file:///C:/b/abs_743lprxrv5/croot/json5_1730786818336/work
jsonschema @ file:///C:/b/abs_394_t6__xq/croot/jsonschema_1728486718320/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-console @ file:///C:/b/abs_82xaa6i2y4/croot/jupyter_console_1680000189372/work
jupyter-events @ file:///C:/b/abs_c2m9s5b5m5/croot/jupyter_events_1718738115254/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client @ file:///C:/b/abs_149bw133if/croot/jupyter_client_1737570986926/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
jupyter_server @ file:///C:/b/abs_9a333nh6yu/croot/jupyter_server_1718827092223/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/b/abs_adgv7wgabm/croot/jupyterlab_1737555444636/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///C:/b/abs_fdi5r_tpjc/croot/jupyterlab_server_1725865372811/work
jupyterlab_widgets @ file:///C:/b/abs_70q5kcqvoa/croot/jupyterlab_widgets_1733441048419/work
kiwisolver @ file:///D:/bld/kiwisolver_1725459382062/work
lazy_loader==0.4
loguru @ file:///D:/bld/loguru_1725349809084/work
logzero @ file:///D:/bld/logzero_1725357999362/work
lxml==5.3.0
mapclassify @ file:///C:/b/abs_0csw0bgpps/croot/mapclassify_1675157746442/work
Markdown @ file:///C:/b/abs_f9hbi7znfr/croot/markdown_1746114643651/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.0
matplotlib-inline @ file:///C:/ci/matplotlib-inline_1661934094726/work
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1734075348980/work
mistune @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_081kimkskf/croots/recipe/mistune_1661496225923/work
mitsuba==3.6.4
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpld3 @ file:///home/conda/feedstock_root/build_artifacts/mpld3_1753713540178/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack @ file:///D:/bld/msgpack-python_1725975182880/work
multidict @ file:///D:/bld/multidict_1729065633457/work
munkres==1.1.4
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert @ file:///C:/b/abs_ac6qnzi3no/croot/nbconvert_1728050663985/work
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
networkx @ file:///C:/b/abs_36fmumtynt/croot/networkx_1720002497414/work
notebook @ file:///C:/b/abs_b552cuftgu/croot/notebook_1738159967315/work
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy==1.23.5
openpyxl==3.1.5
orekit==13.0.1
orekit_stubs==0.1
orekitdata @ git+https://gitlab.orekit.org/orekit/orekit-data.git@7294433c09e036dfc1f658dbbd011da0dd8fa95e
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///C:/b/abs_e18w9ay4we/croot/pandas_1732735115740/work/dist/pandas-2.2.3-cp310-cp310-win_amd64.whl#sha256=6fc0a0523ea4ec3f23a2b790c738c857942b4c579479f8012ac8148d675b8975
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
-e git+https://github.com/ESA-PhiLab/AI-Based-Tip-and-Cue.git@320ed30cde2edded45a005491029ca287d73e1db#egg=paseos&subdirectory=paseos
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
pillow @ file:///C:/b/abs_2cm0qc1vxk/croot/pillow_1731594717982/work
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly @ file:///C:/b/abs_28qon8a90a/croot/plotly_1740385581534/work
ply==3.11
pooch @ file:///C:/b/abs_7acoiuwpey/croot/pooch_1731007069545/work
prometheus_client @ file:///C:/b/abs_e7l07zkc4b/croot/prometheus_client_1731961599071/work
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache @ file:///D:/bld/propcache_1737635531630/work
proto-plus @ file:///C:/b/abs_d7wlvr2xcn/croot/proto-plus_1740564779661/work
protobuf==4.25.3
psutil @ file:///C:/b/abs_b5gv3mn55h/croot/psutil_1736371546320/work
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyCRS @ file:///home/conda/feedstock_root/build_artifacts/pycrs_1734603046681/work
pyerfa @ file:///C:/b/abs_35x4fn08_4/croot/pyerfa_1738083087918/work
Pygments @ file:///C:/b/abs_fay9dpq4n_/croot/pygments_1684279990574/work
pymap3d @ file:///home/conda/feedstock_root/build_artifacts/pymap3d_1735112850856/work
pyogrio @ file:///C:/b/abs_0cqzcfsv7r/croot/pyogrio_1741107177502/work
pyOpenSSL @ file:///C:/b/abs_61vvbgrloc/croot/pyopenssl_1723651600236/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyperclip @ file:///D:/bld/pyperclip_1733932668714/work
pyproj @ file:///D:/bld/pyproj_1680037741648/work
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
pyquaternion @ file:///home/conda/feedstock_root/build_artifacts/pyquaternion_1666887385560/work
pyshp @ file:///C:/b/abs_09wbovc984/croot/pyshp_1706101001476/work
pySMARTS==0.0.1
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
python-box @ file:///D:/bld/python-box_1737128902109/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-json-logger @ file:///C:/b/abs_0cm_mnox0z/croot/python-json-logger_1734370042436/work
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pyvista==0.46.3
pywin32==308
pywinpty @ file:///C:/b/abs_6696uz5mru/croot/pywinpty_1733514639618/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
pyzmq @ file:///C:/b/abs_f3yte6j5yn/croot/pyzmq_1734711069724/work
qtconsole @ file:///C:/b/abs_d4j596cmtn/croot/qtconsole_1737590777428/work
QtPy @ file:///C:/b/abs_derqu__3p8/croot/qtpy_1700144907661/work
rasterio==1.3.6
ratelim @ file:///home/conda/feedstock_root/build_artifacts/ratelim_1734637796064/work
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex==2024.11.6
requests @ file:///C:/b/abs_c3508vg8ez/croot/requests_1731000584867/work
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rpds-py @ file:///C:/b/abs_0c6z5kcdb6/croot/rpds-py_1736545465023/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
ruamel.yaml @ file:///C:/b/abs_0cunwx_ww6/croot/ruamel.yaml_1727980181547/work
ruamel.yaml.clib @ file:///C:/b/abs_5fk8zi6n09/croot/ruamel.yaml.clib_1727769837359/work
safetensors==0.5.3
sankee @ file:///home/conda/feedstock_root/build_artifacts/sankee_1734811052243/work
satellite-constellation==0.2.2
scikit-image==0.25.2
scikit-learn @ file:///C:/b/abs_0dwalqot3o/croot/scikit-learn_1737988780693/work/dist/scikit_learn-1.6.1-cp310-cp310-win_amd64.whl#sha256=d1337168ee64380b26e38a8be42467bd0f3a1db3d3118e6244e11a2be8b05064
scikit-spatial @ file:///home/conda/feedstock_root/build_artifacts/scikit-spatial_1740406003725/work
scipy @ file:///C:/Users/dev-admin/cr_scipy-feedstock/scipy_1733782725636/work/dist/scipy-1.13.1-cp310-cp310-win_amd64.whl#sha256=fd76e5a14ae7e66d4f64d41d9eea35679c89a5ff1e5050c7a8a6b197b322e141
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1734299019922/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
Send2Trash @ file:///C:/b/abs_7e73ol18dl/croot/send2trash_1736542724140/work
sgp4 @ file:///D:/bld/sgp4_1682616958944/work
shapely @ file:///D:/bld/shapely_1675079778461/work
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
skyfield @ file:///home/conda/feedstock_root/build_artifacts/skyfield_1740392404876/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
snuggs @ file:///Users/ktietz/demo/mc3/conda-bld/snuggs_1629803886966/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///C:/b/abs_6f5u1m2ygp/croot/statsmodels_1753363817829/work
sympy @ file:///C:/b/abs_b4u17p23yg/croot/sympy_1738108511395/work
tenacity @ file:///C:/b/abs_1749lsqys6/croot/tenacity_1730304400080/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1740522445235/work/tensorboard-2.19.0-py3-none-any.whl#sha256=5e71b98663a641a7ce8a6e70b0be8e1a4c0c45d48760b076383ac4755c35b9a0
tensorboard_data_server @ file:///C:/b/abs_96oxnengxy/croot/tensorboard-data-server_1724172563443/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=66dfd1b34908ae03d65ceae571453e83dc0b6d58a5f1af436e86e0bda20a01cb
terminado @ file:///C:/b/abs_25nakickad/croot/terminado_1671751845491/work
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
tifffile==2025.5.10
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tokenizers==0.21.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
torch==2.0.1
torchvision==0.15.2
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
traittypes @ file:///C:/b/abs_c91r5by027/croot/traittypes_1701097444623/work
transformers==4.52.4
trimesh @ file:///home/conda/feedstock_root/build_artifacts/trimesh_1747691987904/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///D:/bld/unicodedata2_1736692513154/work
uritemplate @ file:///home/conda/feedstock_root/build_artifacts/uritemplate_1733927878495/work
urllib3 @ file:///C:/b/abs_7bst06lizn/croot/urllib3_1737133657081/work
vtk==9.2.5
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
whitebox @ file:///home/conda/feedstock_root/build_artifacts/whitebox_1740300012774/work
whiteboxgui @ file:///home/conda/feedstock_root/build_artifacts/whiteboxgui_1735293968873/work
widgetsnbextension @ file:///C:/b/abs_df0o5rkt3b/croot/widgetsnbextension_1733439593530/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
win32_setctime @ file:///home/conda/feedstock_root/build_artifacts/win32_setctime_1733752454065/work
wslink @ file:///home/conda/feedstock_root/build_artifacts/wslink_1740199482166/work
xyzservices @ file:///C:/b/abs_8bh3h2qh76/croot/xyzservices_1675159066824/work
yarl @ file:///D:/bld/yarl_1737575816981/work
